body {
  @media (min-width: 880px) {
    background-color: var(--base-lightest);
  }
}

main, #audit-panel {
  background-color: white;

  margin: 0 auto var(--units-6);
  padding: 0 var(--units-2) var(--units-2) var(--units-2);

  @media (min-width: 880px) {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: var(--units-4);
    max-width: 800px;
    padding: var(--units-6) var(--units-8) var(--units-8) var(--units-8);
  }

   @media (min-width: 1024px) {
    max-width: 1000px;
   }
}

main h1 {
  font-weight: 600;
}

.header-bottom-border {
  border-bottom: 2px solid var(--base-lighter);
  display: block;
  margin: var(--units-3) 0;
  padding-bottom: var(--units-3);
  opacity: 1;
}

.flow > h2,
.flow > h3,
.flow > h4 {
  font-family: var(--font-sans);
  font-weight: 600;
}

.flow > h2 {
  font-size: var(--font-size-10);

  @media (min-width: 640px) {
    font-size: var(--font-size-11);
  }

  @media (min-width: 880px) {
    font-size: var(--font-size-12);
  }
}

.flow > h3 {
  border-top: 2px solid var(--base-lighter);
  font-size: var(--font-size-8);
  padding-top: var(--units-5);

  @media (min-width: 640px) {
    font-size: var(--font-size-10);
  }

  @media (min-width: 880px) {
    font-size: var(--font-size-11);
  }
}

/* We can likely remove h4 once the design is further implemented */
.flow > h4 {
  font-size: var(--font-size-8);

  @media (min-width: 640px) {
    font-size: var(--font-size-9);
  }

  @media (min-width: 880px) {
    font-size: var(--font-size-10);
  }
}

