body {
  @media (min-width: 880px) {
    background-color: var(--base-lightest);
  }
}

main, #audit-panel {
  background-color: white;

  margin: 0 auto var(--units-6);
  padding: 0 var(--units-2) var(--units-2) var(--units-2);

  @media (min-width: 880px) {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: var(--units-4);
    max-width: 800px;
    padding: var(--units-6) var(--units-8) var(--units-8) var(--units-8);
  }

   @media (min-width: 1024px) {
    max-width: 954px;
   }
}

main {
  min-height: 90vh;
}

main h1 {
  font-weight: 600;
}

#loading-spinner {
  display: block;
  margin: 2rem auto;
}

#loading-spinner.hidden { display: none; }

.header-bottom-border {
  border-bottom: 2px solid var(--base-lighter);
  display: block;
  margin: var(--units-3) 0;
  padding-bottom: var(--units-3);
  opacity: 1;
}

#heading-your-withholding {
  margin-bottom: var(--units-4);
}

.flow h2,
.flow h3:not(.usa-alert__heading, .usa-accordion__heading, .fg-estimate__heading, details > summary > h3),
.flow h4:not(.usa-alert__heading, .usa-accordion__heading, details > summary > h4),
.flow h5:not(.usa-alert__heading, details > summary > h5) {
  font-family: var(--font-sans);
  font-weight: 600;
}

.flow h2 {
  font-size: var(--font-size-10);

  @media (min-width: 640px) {
    font-size: var(--font-size-11);
  }

  @media (min-width: 880px) {
    font-size: var(--font-size-12);
  }
}

.flow h3:not(.usa-alert__heading, .usa-accordion__heading, .fg-estimate__heading, details > summary > h3),
.fg-collection-item__fields h5 {
  border-top: 2px solid var(--base-lighter);
  font-size: var(--font-size-8);
  padding-top: var(--units-5);

  @media (min-width: 640px) {
    font-size: var(--font-size-10);
  }

  @media (min-width: 880px) {
    font-size: var(--font-size-11);
  }
}

/* This makes it so if there a conditional fg-set that is hidden before the first h4
   in a fg-collection-item, the h4 does not get the top border and padding */
.fg-collection-item__fields fg-set.hidden:first-child + h5:first-of-type {
  border: none;
  margin-top: 0;
  padding-top: 0;
}

.flow h4:not(.usa-alert__heading, .usa-accordion__heading, details > summary > h4),
.flow h5:not(.usa-alert__heading, details > summary > h5) {
  font-size: var(--font-size-8);

  @media (min-width: 640px) {
    font-size: var(--font-size-9);
  }

  @media (min-width: 880px) {
    font-size: var(--font-size-10);
  }
}

/* Set max width for all flow content equal to .usa-prose */
.flow p,
.flow table,
.flow .usa-hint,
.flow ul,
.flow ol,
.flow h3:not(.usa-alert__heading, .usa-accordion__heading),
.flow h4:not(.usa-alert__heading, .usa-accordion__heading),
.flow h5:not(.usa-alert__heading, .usa-accordion__heading) {
  max-width: 68ex;
}
