version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/.github"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "direct"
    ignore:
      - dependency-name: "pdf-lib"
        update-types: ["version-update:semver-major"]  # Optional: ignore v2.x if released
