# Generated website files
out/

# sbt
target/
!target/flow_en.yaml
projects/*/

# node
node_modules/

# Metals
.bsp/
.bloop/
.metals/
.scala-build
metals.sbt

# Jetbrains products
.idea
.idea_modules
/.worksheet/
*.iml

# vscode
.vscode/*
!.vscode/extensions.json
!.vscode/fg-helpers.code-snippets

# macOS
.DS_STORE
