/*
  Styling the details+summary elements that are direct children of .flow
  to mimic the USWDS accordion style.
*/

.flow > details {
  margin: var(--units-1) 0;

  /* Corrects box model for nested usa-input-group */
  .usa-input-group,
  .usa-accordion__button,
  input,
  select {
    box-sizing: border-box;
  }
}

.flow > details > summary {
  display: block;
  background-color: var(--base-lightest);
  background-image: url("/resources/uswds-3.13.0/img/usa-icons/add.svg"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: right var(--units-205) center;
  background-size: var(--units-3);
  cursor: pointer;
  font-weight: 700;
  margin: 0;
  padding: var(--units-2) var(--units-7) var(--units-2) var(--units-205);
  text-decoration: none;

  &:hover {
    background-color: var(--gray-10);
  }
  &:focus {
    outline: var(--units-05) solid var(--blue-40v);
    outline-offset: 0;
  }

  h2, h3, h4 {
    font-size: var(--font-size-md);
    margin: 0;
  }
}

.flow > details[open] {
  summary {
      background-image: url("/resources/uswds-3.13.0/img/usa-icons/remove.svg"), linear-gradient(transparent, transparent);
  }
}

.flow > details[open]::details-content {
  border: var(--units-05) solid var(--base-lightest); ;
  border-top: none;
  padding: var(--units-1) var(--units-205) 0;
}

