.fg-section-gate {
  border-bottom: 1px solid var(--base-lighter);
  padding-bottom: var(--units-3);
}

.fg-section-gate .usa-accordion__button,
.fg-section-gate .usa-accordion__content {
  padding-left: 0;
  padding-right: 0;
}

.fg-section-gate .usa-accordion__button {
  background-color: transparent;
  background-position: right 0 center;
}

.fg-section-gate .usa-accordion__content {
  padding-top: 0;
}

.fg-section-gate--pending .usa-accordion__button,
.fg-section-gate--pending .usa-accordion__content {
  color: var(--base)
}

