fg-set {
  display: block;
  margin: var(--units-6) 0;
  opacity: 1;

  transition: opacity 1s, display 1s allow-discrete;

  @starting-style {
    /* Only fade in the facts that have a condition */
    &[condition] {
      opacity: 0;
    }
  }

}
