fg-set {
  border-bottom: 1px solid var(--base-lighter);
  display: block;
  margin: var(--units-6) 0;
  padding-bottom: var(--units-6);
  opacity: 1;

  transition: opacity 1s, display 1s allow-discrete;

  @starting-style {
    /* Only fade in the facts that have a condition */
    &[condition] {
      opacity: 0;
    }
  }
}

fg-set:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
}

h2 + fg-set {
  margin-top: 0;
}

.twe-question {
  font-size: var(--font-size-lg);
}

.usa-radio {
  max-width: 30rem
}

.form-actions {
  border-top: 2px solid var(--base-lighter);
  margin-top: var(--units-4);
  padding-top: var(--units-3);
}
