fg-set {
  display: block;
  margin: var(--flow-spacing) 0;
  padding-bottom: var(--flow-spacing--sm);

  &:last-child {
    padding-bottom: 0;
  }
}

fg-withholding-adjustments {
  display: block;
}

h2 + fg-set {
  margin-top: 0;
}

.twe-question {
  font-weight: bold;
  margin-top: 0;

  .usa-hint {
    font-weight: normal;
  }
}

.usa-radio {
  max-width: 30rem
}

.form-actions {
  border-top: 2px solid var(--base-lighter);
  margin-top: var(--flow-spacing--offset);
  padding-top: var(--flow-spacing);
}
