/* Override USWDS */
:root:has(.usa-js-modal--active) {
  scrollbar-gutter: stable;
}

/* We are using .usa-modal--dialog instead of .usa-modal because
    the latter is used by USWDS and has some JS conflicts */
.usa-modal--dialog:not([open]){
  opacity: 0;
  position: absolute;
  display: none;
}

.usa-modal--dialog {
  animation: fadeIn .15s ease-in forwards;
  border: none;
  display: flex;
  align-self: center;
  position: fixed;
  font-size: 1.06rem;
  line-height: 1.5;
  border-radius: .5rem;
  background: #fff;
  scrollbar-color: lightGray transparent;
  margin: 1.25rem auto;
  max-width: 30rem;
  opacity: 1;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  z-index: 1050;
  width: 100%;
  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.usa-modal__main {
  position: relative;
}

.usa-modal__close {
  position: absolute;
  top: 0;
  right: 0;
}

.usa-modal__content {
  display: block
}

::backdrop {
  animation: fadeIn .15s ease-in forwards;
  background-color: rgba(0,0,0,.7);
  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
