.audit-panel-resizing {
  cursor: col-resize;
  user-select: none;
}

.audit-panel {
  --audit-panel-handle-width: 0.75rem;
  display: none;
  position: relative;

  button {
    display: block;
    margin: 1rem 0;
  }

  h1,
  h2 {
    font-weight: 600;
  }

  .inline {
    display: inline;
  }

  #copy-fg-status {
    opacity: 0;
    visibility: hidden;
    padding-left: 1rem;
  }

  .animate-success {
    animation: fadeInOut 2s ease-in-out;
  }
}

#show-audit-panel {
  position: fixed;
  z-index: 1000;
  top: 6rem;
  border: 1px solid var(--base-lighter);
  right: -1px;
  background: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;

  &:hover {
    color: var(--primary)
  }

  .usa-tooltip {
    padding: .5rem;
  }
}

#close-audit-panel {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  position: absolute;
  top: var(--units-2);
  right: var(--units-2);
}

/* Audit panel content styles */
.audit-panel-open {
  display: flex;
  overflow: hidden;
  height: 100vh;

  .app-container {
    width: calc(100vw - var(--audit-panel-width, 38vw));
    height: 100vh;
    position: relative; /* Fixes firefox issue */
    overflow: scroll;
    overflow-x: hidden;
  }

  .audit-panel {
    background: white;
    display: block;
    height: 100vh;
    width: var(--audit-panel-width, 38vw);
    overflow: hidden;
  }

  .audit-panel__content {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    padding: var(--units-4);
  }

  #show-audit-panel {
    display: none;
  }
}

.audit-panel__resizer {
  border-left: 2px solid var(--base-lighter);
  bottom: 0;
  cursor: col-resize;
  left: 0;
  position: absolute;
  top: 0;
  width: 1rem;
  z-index: 1;

  &:hover {
    border-left-color: var(--blue-40v);
  }

  &:focus {
    outline: .25rem solid var(--blue-40v);
    outline-offset: -.125rem;
  }
}


.audit-panel__section {
    border: 1px solid var(--base-lighter);
    margin: 1rem 0;
    padding: .5rem 2rem;
    border-radius: 4px;
}

/* User will have to toggle between the audit panel and the main content on small screens, but we can still allow its use on narrower screens */
@media (max-width: 579px) {
  .audit-panel-open {
    .app-container {
      width: 0;
    }

    .audit-panel {
      width: 100vw;
    }
  }

  .audit-panel__resizer {
    display: none;
  }
}

@keyframes fadeInOut {
  0% { opacity: 0;  visibility: visible;}
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; visibility: hidden;}
}

/* This is deliberately applied to the whole page, not just the audit panel */
fg-show {
  background-color: lightyellow;
}

/* usa-prose included here to out-specify USWDS */
.usa-prose fact-link a, fact-link a {
  color: inherit;
}

audited-fact {
  background-color: var(--base-lightest);
  border: 1px solid var(--base-lighter);
  border-radius: 4px;
  display: block;
  margin: var(--units-2) 0;
  padding: var(--units-2);
}

audited-fact::part(fact-data) {
  display: flex;
  flex-wrap: wrap;
  gap: var(--units-1);
  margin: 0;
}

audited-fact::part(fact-term) {
  font-weight: bold;
}

audited-fact::part(fact-definition) {
  margin-left: 0;
}


audited-fact::part(heading) {
  margin-top: 0;
}

audited-fact::part(heading),
audited-fact::part(code-block) {
  white-space: pre-wrap;
  word-break: break-word;
  width: 100%;
}

audited-fact::part(code-block) {
  border-top: 1px solid var(--base-lighter);
  padding-top: var(--units-2);
}

audited-fact::part(remove-button) {
  appearance: none;
  background: white;
  border: 2px solid var(--primary);
  border-radius: 4px;
  font-weight: bold;
  padding: var(--units-05) var(--units-1);
  color: var(--primary);
  cursor: pointer;
}

audited-fact::part(remove-button):focus{
  outline: .25rem solid #2491ff;
  outline-offset: .25rem;
}
