.display-conditions {
  div[condition],
  p[condition],
  ul[condition],
  h3[condition],
  h4[condition],
  h5[condition],
  fg-set[condition],
  fg-withholding-adjustments[condition],
  fg-alert[condition] {
    border: 4px solid var(--accent-warm);
    padding: 0 var(--units-2) var(--units-2);
    position: relative;
    margin-bottom: var(--units-05);
  }

  .fact-name {
    background-color: var(--accent-warm);
    color: var(--base-darkest);
    display: block;
    font-size: 1rem;
    left: 0;
    margin: 0 -1rem var(--units-1);
    padding: 0 var(--units-05);
    top: 0;
  }

  span[condition] {
    background-color: var(--warning-lighter);
    border: 1px solid var(--accent-warm);
    color: var(--base-dark);
    font-style: italic;
    padding: 0 .5ch;

    .fact-name {
      background-color: transparent;
      display: inline;
      color: var(--base-dark);
      font-style: normal;
      font-weight: normal;
      margin: 0;
      margin-left: .5ch;

      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }
  }
}
