<script type="module" src="/twe/resources/js/audit-panel.js"></script>
<link rel="stylesheet" href="/twe/resources/styles/audit-panel.css">

<section id="audit-panel">
  <h2>Fact Graph Audit Panel</h2>
  <div class="usa-form-group">
    <label
       class="usa-label twe-question"
       th:for="fact-select"
       th:text="#{audit.fact-select.question}">
    </label>
    <input list="fact-options" class="usa-input" id="fact-select">
    <datalist id="fact-options" aria-invalid="false">
      <option value="" th:text="#{audit.fact-select.blank}"></option>
    </datalist>
  </div>

  <div class="usa-form-group">
    <label
      class="usa-label twe-question"
      th:for="fact-collection-id"
      th:text="#{audit.collection-id-label}">
    </label>
    <input
      th:id="fact-collection-id"
      class="usa-input"
      type="text"
      autocomplete="off"
      aria-invalid="false">
  </div>

  <div><button id="add-fact-button" type="button">Add fact</button> </div>
  <div id="audit-panel__fact-list"></div>
</section>

<template id="audit-panel__fact">
  <h3 class="audit-panel__fact__path"></h3>
  <dl>
    <dt th:text="#{audit.fact.type}"></dt>
    <dd class="audit-panel__fact__type"></dd>

    <dt th:text="#{audit.fact.value}"></dt>
    <dd class="audit-panel__fact__value"></dd>
  </dl>

  <div class="audit-panel__fact__definition">
    <pre><code><slot name="definition"></slot></code></pre>
  </div>

  <div class="audit-panel__fact__controls">
    <button class="audit-panel__fact__remove" th:text="#{audit.fact.remove}" type="button"></button>
  </div>
</template>
