<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KV978ZL');</script>
<!-- End Google Tag Manager -->

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title th:text="${title}"></title>
<!-- Favicons for mobile and desktop -->
<link rel="icon" type="image/ico" href="/app/tax-withholding-estimator/resources/img/favicon.ico" />
<link rel="icon" type="image/png" href="/app/tax-withholding-estimator/resources/img/apple-icon.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/app/tax-withholding-estimator/resources/img/android-icon-192x192.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/app/tax-withholding-estimator/resources/img/apple-icon-72x72.png" />
<link rel="stylesheet" href="/app/tax-withholding-estimator/resources/styles/main.css" />
<link rel="stylesheet" href="/app/tax-withholding-estimator/resources/styles/audit-panel.css" id="audit-panel-styles" disabled />

<script type="module" src="/app/tax-withholding-estimator/resources/js/fg-components.js"></script>
<script type="module" src="/app/tax-withholding-estimator/resources/js/debug-components.js"></script>
<script type="module" src="/app/tax-withholding-estimator/resources/js/modals.js"></script>
<script type="module" src="/app/tax-withholding-estimator/resources/js/audit-panel.js"></script>

<script src="/app/tax-withholding-estimator/resources/vendor/uswds-3.13.0/js/uswds-init.min.js"></script>
<script defer src="/app/tax-withholding-estimator/resources/vendor/uswds-3.13.0/js/uswds.min.js"></script>
<script type="module" src="/app/tax-withholding-estimator/resources/vendor/pdf-lib-1.17.1.min.js"></script>
<script type="module" src="/app/tax-withholding-estimator/resources/js/w4-pdf.js"></script>
