<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title th:text="${title}"></title>
<!-- Favicons for mobile and desktop -->
<link rel="icon" type="image/ico" href="/twe/resources/img/favicon.ico" />
<link rel="icon" type="image/png" href="/twe/resources/img/apple-icon.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/twe/resources/img/android-icon-192x192.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/twe/resources/img/apple-icon-72x72.png" />
<link rel="stylesheet" href="/twe/resources/styles/main.css" />

<script type="module" src="/twe/resources/js/fg-components.js"></script>
<script type="module" src="/twe/resources/js/debug-components.js"></script>
<script type="module" src="/twe/resources/js/modals.js"></script>
<link
  rel="stylesheet"
  href="/twe/resources/styles/audit-panel.css"
  id="audit-panel-styles"
  th:if="${flags && flags.auditMode}"
  disabled
/>

<script src="/twe/resources/vendor/uswds-3.13.0/js/uswds-init.min.js"></script>
<script defer src="/twe/resources/vendor/uswds-3.13.0/js/uswds.min.js"></script>
<script type="module" src="/twe/resources/vendor/pdf-lib-1.17.1.min.js"></script>
<script type="module" src="/twe/resources/js/w4-pdf.js"></script>
