<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title th:text="${title}"></title>
<link rel="icon" href="/resources/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/resources/styles/main.css" />

<script type="module" src="/resources/js/fg-components.js"></script>
<script type="module" src="/resources/js/debug-components.js"></script>
<script src="/resources/uswds-3.13.0/js/uswds-init.min.js"></script>
<script defer src="/resources/uswds-3.13.0/js/uswds.min.js"></script>
<link rel="preload" href="/resources/uswds-3.13.0/js/uswds.min.js" as="script" />
<script defer type="module" src="/resources/js/modals.js"></script>
<script type="module" src="/resources/js/pdf/pdf-lib-1.17.1.min.js"></script>
<script type="module" src="/resources/js/pdf/w4-pdf.js"></script>
