<div class="usa-step-indicator margin-top-3">
  <ol class="usa-step-indicator__segments">
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete"
        th:each="page, iterStat : ${pages}"
        th:if="${iterStat.index < stepIndex}">
        <span class="usa-step-indicator__segment-label">
          <a class="usa-step-indicator__link" th:href="${page.route}">
            <span th:text="${page.title}"></span>
            <span class="usa-sr-only" th:text="#{step-indicator.completed}"></span>
          </a>
        </span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current"
        th:each="page, iterStat : ${pages}"
        th:if="${iterStat.index == stepIndex}">
        <span class="usa-step-indicator__segment-label">
          <a aria-current="step" class="usa-step-indicator__link" th:href="${page.route}" th:text="${page.title}"></a>
        </span>
    </li>
    <li class="usa-step-indicator__segment"
        th:each="page, iterStat : ${pages}"
        th:if="${iterStat.index > stepIndex}">
        <span class="usa-step-indicator__segment-label">
          <a class="usa-step-indicator__link" th:href="${page.route}">
            <span th:text="${page.title}"></span>
            <span class="usa-sr-only" th:text="#{step-indicator.not-completed}"></span>
          </a>
        </span>
      </li>
  </ol>

  <div class="usa-step-indicator__header">
    <h2 class="usa-step-indicator__heading">
      <span class="usa-sr-only" th:text="#{step-indicator.step-of(${stepIndex + 1}, ${stepTotal}, ${stepTitle})}"></span>
      <span class="usa-step-indicator__heading-counter" aria-hidden="true">
        <span class="usa-step-indicator__current-step" th:text="${stepIndex + 1}"></span>
        <span class="usa-step-indicator__total-steps">[[#{step-indicator.of}]] <span th:text="${stepTotal}"></span>
        </span><span class="usa-step-indicator__heading-text" th:text="${stepTitle}"></span
      >
    </h2>
  </div>
</div>
