<section class="usa-banner" th:aria-label="#{layout.banner.disclaimer}">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img
              aria-hidden="true"
              class="usa-banner__header-flag"
              src="/resources/uswds-3.13.0/img/us_flag_small.png"
              alt="" >
        </div>
          <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
            <p class="usa-banner__header-text" th:text="#{layout.banner.disclaimer}"></p>
            <p class="usa-banner__header-action" th:text="#{layout.banner.how-you-know}"></p>
          </div>
          <button
              type="button"
              class="usa-accordion__button usa-banner__button"
              aria-expanded="false"
              aria-controls="gov-banner-default"
              >
              <span class="usa-banner__button-text" th:text="#{layout.banner.how-you-know}"></span>
          </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner-default">
        <div class="grid-row grid-gap-lg">
          <div class="usa-banner__guidance tablet:grid-col-6">
            <img
                class="usa-banner__icon usa-media-block__img"
                src="/resources/uswds-3.13.0/img/icon-dot-gov.svg"
                role="img"
                alt=""
                aria-hidden="true"
                />
            <div class="usa-media-block__body">
              <p>
                <strong th:text="#{layout.banner.official-domain}"></strong><br/>
                [(#{layout.banner.official-organization})]
              </p>
            </div>
          </div>
          <div class="usa-banner__guidance tablet:grid-col-6">
            <img
                class="usa-banner__icon usa-media-block__img"
                src="/resources/uswds-3.13.0/img/icon-https.svg"
                role="img"
                alt=""
                aria-hidden="true"
                />
            <div class="usa-media-block__body">
              <strong th:text="#{layout.banner.secure-https}"></strong> <br/>
              <th:block th:utext="#{layout.banner.lock-1}"></th:block>
              (<div th:replace="~{fragments/lock}"></div>)
              <th:block th:utext="#{layout.banner.lock-2}"></th:block>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
