<!DOCTYPE html>
<html lang="en">
  <script>
    // This script will set all collections to disallow empty, and open all details. This is because we're rendering all content at once, so we want to make sure all the content is visible and generated.
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll("fg-collection").forEach(collection => {
        collection.setAttribute("disallowempty", "true");
      });

      // helps wait for the other collection items to generate
      setTimeout(() => {
        document.querySelectorAll(".fg-detail").forEach(details => {
          details.setAttribute("open", "true");
        });

        // Display conditions as DOM nodes. We might want to add this to our main JS to use in the audit panel. But for now, we'll keep it here.
        displayConditions();
      }, 100);

    })
  </script>
  <meta th:replace="fragments/head">
  <link rel="stylesheet" href="/app/tax-withholding-estimator/resources/styles/all-screens.css">

  <body class="view--column">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <header>
      <div th:replace="fragments/usa-banner"></div>
      <div class="logo-banner"><img src="/app/tax-withholding-estimator/resources/img/irs-logo.svg" alt="IRS Logo"></div>
    </header>

    <div class="usa-in-page-nav-container">
      <aside class="usa-in-page-nav" data-heading-elements="h2 h3"></aside>
      <main id="main-content" class="main-content usa-prose">
        <article th:each="page: ${pages}" class="screen" data-route="${page.route}">
          <h1 class="screen__title" th:text="${page.title}">Page Title</h1>
          <div class="screen__content" th:utext="${page.content}">Lorem Ipsum</div>
        </article>
      </main>
    </div>

    <template th:replace="fragments/js-templates"></template>
  </body>
</html>
