<!-- I did this with text scripts because getting innerHTML from a template doesn't work for some reason -->
<script type="text" id="errors.InvalidCharacters" th:text="#{errors.InvalidCharacters}"></script>
<script type="text" id="errors.InvalidDollar" th:text="#{errors.InvalidDollar}"></script>
<script type="text" id="errors.InvalidHyphens" th:text="#{errors.InvalidHyphens}"></script>
<script type="text" id="errors.InvalidParentheses" th:text="#{errors.InvalidParentheses}"></script>
<script type="text" id="errors.TooManyDecimals" th:text="#{errors.TooManyDecimals}"></script>
<script type="text" id="errors.TooManyFractionalDigits" th:text="#{errors.TooManyFractionalDigits}"></script>

<script type="text" id="errors.InvalidDay" th:text="#{errors.InvalidDay}"></script>
<script type="text" id="errors.InvalidDayDueToLeapYear" th:text="#{errors.InvalidDayDueToLeapYear}"></script>
<script type="text" id="errors.InvalidMonth" th:text="#{errors.InvalidMonth}"></script>
<script type="text" id="errors.InvalidDate" th:text="#{errors.InvalidDate}"></script>
<script type="text" id="errors.InvalidLimit" th:text="#{errors.InvalidLimit}"></script>

<script type="text" id="errors.BlankEnum" th:text="#{errors.BlankEnum}"></script>
<script type="text" id="errors.InvalidEnum" th:text="#{errors.InvalidEnum}"></script>

<script type="text" id="errors.Max" th:text="#{errors.Max}"></script>
<script type="text" id="errors.Min" th:text="#{errors.Min}"></script>

<script type="text" id="errors.Default" th:text="#{errors.Default}"></script>

