<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title th:text="${title}"></title>
  <link rel="icon" href="/resources/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/resources/uswds-3.13.0/styles/uswds.min.css"></link>
  <link rel="stylesheet" href="/resources/styles/main.css">
  <link rel="stylesheet" href="/resources/styles/buttons.css"></link>

  <script type="module" src="/resources/js/factgraph-3.1.0.js"></script>
  <script type="module" src="/resources/js/fg-components.js"></script>
  <script type="module" src="/resources/js/debug-components.js"></script>
  <script src="/resources/uswds-3.13.0/js/uswds-init.min.js"></script>
  <script defer src="/resources/uswds-3.13.0/js/uswds.min.js"></script>
  <link rel="preload" href="/resources/uswds-3.13.0/js/uswds.min.js" as="script">

  <a class="usa-skipnav" href='#main-content'>Skip to main content</a>
  <header>
    <div th:replace="fragments/usa-banner"></div>
    <div class="logo-banner"><img src="/resources/img/irs-logo.svg" alt=""/></div>
  </header>

  <main class="hidden" id="main-content">
    <nav class="steps-nav">
      <ul class="steps-nav__list">
        <li class="steps-nav__item" th:each="page: ${pages}">
          <a th:href="${page.route}" th:text="${page.title}"></a>
        </li>
      </ul>
    </nav>

    <div th:utext="${pageXml}" th:remove="tag"></div>

    <a class="usa-button margin-top-3 continue-button"
       th:if="${nextPageHref}"
       th:href="${nextPageHref}"
       onclick="return handleSectionContinue(event)">
      Continue
    </a>

    <a class="usa-button margin-top-3 continue-button"
       th:unless="${nextPageHref}"
       href="#"
       onclick="return handleSectionComplete(event)">
      Submit
    </a>
  </main>

  <template id="validate-alert-template">
    <div class="usa-alert usa-alert--error validate-alert" role="alert">
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">Warning status</h4>
        <p class="usa-alert__text" id="alert-message">Please complete the required fields</p>
      </div>
    </div>
  </template>

  <script type="text" id="fact-dictionary" th:utext="${dictionaryConfig}"></script>
</html>
