body {
  margin: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;

}

fg-question {
  display: block;
}

.logo-banner {
  width: 100%;
  background-color: rgb(0 89 156);
}

.logo-banner img {
  height: 100%;
  width: 6.25rem;
  margin: 1rem;
}

input:not([type=radio]), select {
  display: block;
}

.question {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid black;
}
