:root {
  --warning-bg-color: rgb(241, 228, 220);
}

body {
  margin: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;
}

fg-set {
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid black;
  opacity: 1;

  transition: opacity 1s, display 1s allow-discrete;

  @starting-style {
    /* Only fade in the facts that have a condition */
    &[condition] {
      opacity: 0;
    }
  }

}

.hidden {
  opacity: 0;
  display: none;
}

.logo-banner {
  width: 100%;
  background-color: rgb(0 89 156);
}

.logo-banner img {
  height: 100%;
  width: 6.25rem;
  margin: 1rem;
}

input:not([type=radio]), select {
  display: block;
}

.incomplete {
  color: gray;
}

.warning {
  box-sizing: border-box;
  background-color: var(--warning-bg-color);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly
}

li {
  display: inline-block;
}
