<fg-collection th:attr="path=${path}, condition=${condition}, operator=${operator}">
    <template class="fg-collection__item-template">
        <fieldset class="usa-fieldset margin-top-3 padding-3 border-1px border-base-lighter">
            <div class="fg-collection-item__controls">
                <button type="button" class="fg-collection-item__remove-item usa-button usa-button--unstyled">
                    Remove item
                </button>
            </div>
            <div class="fg-collection-item__fields" th:utext="${collectionFacts}"></div>
        </fieldset>
    </template>
    <button type="button" class="fg-collection__add-item usa-button usa-button--outline">
        <svg aria-hidden="true" role="img" focusable="false"
             class="usa-icon usa-icon--size-3 margin-left-neg-1 margin-y-neg-05">
            <use href="/resources/uswds-3.13.0/img/sprite.svg#add"></use>
        </svg>
        Add item
    </button>
</fg-collection>
