<fg-withholding-adjustments th:attr="path=${path}, condition=${condition}, operator=${operator}">
    <template class="fg-withholding-adjustment__template">
        <details class="fg-detail fg-detail--chevron">
            <summary>
                <h5>Adjust <span condition="/pensions/*/isFilerAssignmentSelf" operator="isTrue">your</span><span condition="/pensions/*/isFilerAssignmentSelf" operator="isFalse">their</span> <fg-show path="/pensions/*/income"/> pension or annuity</h5>
            </summary>
            <div class="usa-prose details-content">
                <p>
                    Download and complete Form W-4P using our recommendations below, then submit it to
                    <span condition="/pensions/*/isFilerAssignmentSelf" operator="isTrue">your</span>
                    <span condition="/pensions/*/isFilerAssignmentSelf" operator="isFalse">their</span>
                    pension or annuity provider.
                </p>
                <div class="stacked-button-group">
                    <button class="usa-button pdf-download" type="button" onclick="downloadW4P(window.factGraph, '{{COLLECTION_ID}}')">Download pre-filled Form W-4P</button>
                    <a class="usa-button usa-button--outline" href="https://www.irs.gov/pub/irs-pdf/fw4p.pdf" download>Download blank Form W-4P</a>
                </div>
                <table class="fg-withholding-adjustment usa-table width-full">
                    <caption class="usa-sr-only">Instructions for completing Form W-4P</caption>
                    <thead>
                    <tr>
                        <th scope="col">W-4P field</th>
                        <th scope="col">How to answer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Step 1 (a): Personal information</th>
                        <td>Enter your name and address</td>
                    </tr>
                    <tr>
                        <th scope="row">Step 1 (b): Social security number</th>
                        <td>Enter your Social Security number (if applicable).</td>
                    </tr>
                    <tr>
                        <th scope="row">Step 1 (c): Filing status</th>
                        <td>
                            <p>
                                <span condition="/isFilingStatusMFJ" operator="isTrue">Married filing jointly</span>
                                <span condition="/isFilingStatusMFS" operator="isTrue">Married filing separately</span>
                                <span condition="/isFilingStatusSingle" operator="isTrue">Single</span>
                                <span condition="/isFilingStatusHOH" operator="isTrue">Head of household</span>
                                <span condition="/isFilingStatusQSS" operator="isTrue">Qualified surviving spouse</span>
                            </p>
                            <p><modal-link for="modal-why-step-1-c">Why?</modal-link></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Step 2: Multiple jobs or pensions</th>
                        <td>
                            <p>Leave blank</p>
                            <p><modal-link for="modal-why-w-4p-step-2">Why?</modal-link></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Step 3: Credits total</th>
                        <td>
                            <p>
                                <span condition="pensions/*/shouldLeaveW4pLine3Blank" operator="isFalse"><fg-show path="pensions/*/w4pLine3"/></span>
                                <span condition="pensions/*/shouldLeaveW4pLine3Blank" operator="isTrue">Leave blank</span>
                            </p>
                            <p><modal-link for="modal-why-step-3">Why?</modal-link></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Step 4 (a): Other income (not from jobs)</th>
                        <td>
                            <p>
                                <span condition="pensions/*/shouldLeaveW4pLine4aBlank" operator="isFalse"><fg-show path="pensions/*/w4pLine4a"/></span>
                                <span condition="pensions/*/shouldLeaveW4pLine4aBlank" operator="isTrue">Leave blank</span>
                            </p>
                            <p><modal-link for="modal-why-w-4p-step-4-a">Why?</modal-link></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Step 4 (b): Deductions</th>
                        <td>
                            <p>
                                <span condition="pensions/*/shouldLeaveW4pLine4bBlank" operator="isFalse"><fg-show path="pensions/*/w4pLine4b"/></span>
                                <span condition="pensions/*/shouldLeaveW4pLine4bBlank" operator="isTrue">Leave blank</span>
                            </p>
                            <p><modal-link for="modal-why-w-4p-step-4-b">Why?</modal-link></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Step 4 (c): Extra withholding</th>
                        <td>
                            <p>
                                <span condition="pensions/*/shouldLeaveW4pLine4cBlank" operator="isFalse"><fg-show path="pensions/*/w4pLine4c"/></span>
                                <span condition="pensions/*/shouldLeaveW4pLine4cBlank" operator="isTrue">Leave blank</span>
                            </p>
                            <p><modal-link for="modal-why-w-4p-step-4-c">Why?</modal-link></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Step 5: Sign Here</th>
                        <td>Sign your signature and enter the date</td>
                    </tr>
                    </tbody>
                </table>
                <p>
                    Withholding updates are time sensitive. Submit your completed form to
                    <span condition="/pensions/*/isFilerAssignmentSelf" operator="isTrue">your</span>
                    <span condition="/pensions/*/isFilerAssignmentSelf" operator="isFalse">their</span>
                    pension or annuity provider as soon as possible.
                </p>
            </div>
        </details>
    </template>
</fg-withholding-adjustments>
