<dialog th:id="${modalId}" class="usa-modal--dialog" closedby="any">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h1 class="usa-modal__heading" th:id="#{${modalId}-heading}" th:utext="${modalHeading}"></h1>
      <button
        type="button"
        class="usa-button usa-modal__close"
        th:aria-label="#{components.modal.close}"
        data-close-modal
      >
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use href="/twe/resources/vendor/uswds-3.13.0/img/sprite.svg#close"></use>
        </svg>
      </button>
    <div class="usa-prose" th:utext="${modalContent}"></div>

    <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <button type="button"
                    class="usa-button"
                    th:text="#{components.modal.ok}"
                    data-close-modal>
              Close
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</dialog>
