<fieldset class="usa-fieldset" th:attr="aria-describedby=${hintId}">
    <legend class="usa-legend twe-question">
        <div th:utext="#{${contentKey} + .question}" th:remove="tag"></div>
        <span th:if="${!optional}" aria-hidden="true" class="usa-hint" th:text="#{components.fg-set.required}"></span>
    </legend>
    <div th:replace="nodes/hint"></div>
    <div th:replace="nodes/modal-link"></div>
    <div class="usa-memorable-date">
        <div class="usa-form-group usa-form-group--month usa-form-group--select">
            <label class="usa-label" th:for="${path} +'-month'" th:text="#{components.date.month}"></label>
            <select class="usa-select" th:id="${path} +'-month'" th:name="${path} +'-month'"
                    aria-invalid="false" th:required="${not optional}"
            >
            <option value="" disabled="true" selected="true" th:text="#{components.date.select}"></option>
            <option value="01" th:text="#{components.date.january}"></option>
            <option value="02" th:text="#{components.date.february}"></option>
            <option value="03" th:text="#{components.date.march}"></option>
            <option value="04" th:text="#{components.date.april}"></option>
            <option value="05" th:text="#{components.date.may}"></option>
            <option value="06" th:text="#{components.date.june}"></option>
            <option value="07" th:text="#{components.date.july}"></option>
            <option value="08" th:text="#{components.date.august}"></option>
            <option value="09" th:text="#{components.date.september}"></option>
            <option value="10" th:text="#{components.date.october}"></option>
            <option value="11" th:text="#{components.date.november}"></option>
            <option value="12" th:text="#{components.date.december}"></option>
            </select>
        </div>
        <div class="usa-form-group usa-form-group--day">
            <label class="usa-label" th:for="${path} +'-day'" th:text="#{components.date.day}"></label>
            <input class="usa-input" th:id="${path} +'-day'" th:name="${path} + '-day'"
                maxlength="2" pattern="[0-9]*" inputmode="numeric" value="" th:required="${not optional}"
                   aria-invalid="false"/>
        </div>
        <div class="usa-form-group usa-form-group--year">
            <label class="usa-label" th:for="${path} +'-year'" th:text="#{components.date.year}"></label>
            <input class="usa-input" th:id="${path} +'-year'" th:name="${path} +'-year'"
                   minlength="4" maxlength="4" pattern="[0-9]*" inputmode="numeric"
                   value="" th:required="${not optional}" aria-invalid="false"/>
        </div>
    </div>
</fieldset>
