<fieldset class="usa-fieldset" th:attr="aria-describedby=${hintId}">
    <legend class="usa-legend twe-question">
        <div th:text="#{${contentKey} + .question}" th:remove="tag"></div>
        <div th:unless="${optional}" th:replace="~{nodes/required-indicator}"></div>
    </legend>
    <div th:replace="nodes/hint"></div>

    <div class="usa-radio" th:each="option : ${options}">
        <input th:id="${path} + '-' + ${option.value}"
               class="usa-radio__input usa-radio__input--tile"
               type="radio"
               th:value="${option.value}"
               th:name="${path}"
               th:required="${not optional}"
               aria-invalid="false"
               th:attr="aria-describedby=${option.description != null ? (path + '-' + option.value + '-description') : null}"/>
        <label th:for="${path} + '-' + ${option.value}" class="usa-radio__label radio-option">
            <span th:text="#{${contentKey} + .options. + ${option.value} + .name}"></span>
            <span th:if="${option.description != null}"
                  class="usa-radio__label-description"
                  th:id="${path} + '-' + ${option.value} + '-description'"
                  aria-hidden="true"
                  th:text="#{${contentKey} + .options. + ${option.value} + .description}"></span>
        </label>
    </div>
</fieldset>
