name: Deploy

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]

permissions:
  contents: read
  id-token: write

# Cancel redundant builds on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # do not cancel redundant builds on main or release branches
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/release/') && !startsWith(github.ref, 'refs/tags/') }}

jobs:
  build-deploy-twe:
    if: vars.build == 'true'
    uses: IRSDigitalService/shared-actions/.github/workflows/build-scan-deploy.yml@main
    permissions:
      id-token: write
      contents: read
      packages: read
    with:
      app: "twe"
    secrets: inherit
