name: Deploy

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write

# Cancel redundant builds on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # do not cancel redundant builds on main or release branches
  cancel-in-progress: ${{ github.ref != 'refs/heads/rav/605-deploy-pipeline' && !startsWith(github.ref, 'refs/heads/release/') }}

jobs:
  build-deploy-twe:
    if: vars.build == 'true'
    uses: IRSDigitalService/shared-actions/.github/workflows/build-deploy-twe.yml@22748b01c44bf92eb077508a919258f0ac3b8ef6
    permissions:
      id-token: write
      contents: read
      packages: read
    with:
      trigger-ref: ${{ github.ref }}
      sha: ${{ github.sha }}
      build-id: ${{ github.run_number }}
    secrets: inherit
