name: Deploy

on:
  push:
    branches: [ "main" ]
    tags: [ "*" ]

permissions:
  contents: read
  id-token: write

# Cancel redundant builds on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # do not cancel redundant builds on main or release branches
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/release/') }}

jobs:
  build-deploy-twe:
    if: vars.build == 'true'
    uses: IRSDigitalService/shared-actions/.github/workflows/build-deploy-twe.yml@7976cf92754f6be53f5455ef77d1d70848e8cdaa
    permissions:
      id-token: write
      contents: read
      packages: read
    with:
      trigger-ref: ${{ github.ref }}
      sha: ${{ github.sha }}
      build-id: ${{ github.run_number }}
    secrets: inherit
