name: TWE Lint and Validate

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Cancel redundant builds on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # do not cancel redundant builds on main or release branches
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/release/') }}

env:
  JAVA_VERSION: 21
  SBT_VERSION: 1.11.4
  TWE_PATH: tax_withholding_estimator
  TWE_RESOURCES_PATH: src/main/resources/twe

jobs:

  lint:
    if: vars.build == 'false'
    runs-on: ubuntu-latest

    steps:

    - name: Checkout TWE
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        path: ${{ env.TWE_PATH }}

    - name: Install sbt via shared action
      uses: IRSDigitalService/shared-actions/.github/actions/setup_sbt_coursier@d39382f7b23cb52c0762b5e321f29f2ed66e8189
      with:
        java_version: ${{ env.JAVA_VERSION }}
        sbt_version: ${{ env.SBT_VERSION }}

    - name: Setup Java
      uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4
      with:
        distribution: 'temurin'
        java-version: ${{ env.JAVA_VERSION }}

    - name: Install xmllint (libxml2-utils) # v2.9.14+dfsg-1.3ubuntu3
      run: |
        sudo apt-get update
        sudo apt-get install -y libxml2-utils=2.9.14+dfsg-1.3ubuntu3
        sudo apt-mark hold libxml2-utils

    - name: Validate XML schemas
      working-directory: ${{ env.TWE_PATH }}
      run: make validate-xml
