name: Quality Checks

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:


# Cancel redundant builds on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # do not cancel redundant builds on main or release branches
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/release/') }}

env:
  JAVA_VERSION: 21
  SBT_VERSION: 1.11.4
  FACT_GRAPH_PATH: fact-graph
  TWE_PATH: tax_withholding_estimator
  TWE_RESOURCES_PATH: src/main/resources/twe

jobs:
  check-emails:
    if: vars.build == 'false'
    runs-on: ${{ vars.runner }}
    steps:
      - uses: IRSDigitalService/shared-actions/.github/actions/check-commit-emails@d39382f7b23cb52c0762b5e321f29f2ed66e8189
        with:
          repo_path: ${{ env.TWE_PATH }}
          base_ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.ref || 'main' }}

  call-publish-fact-graph:
    if: vars.build == 'false'
    uses: ./.github/workflows/publish-factgraph.yml
    secrets:
      SVC_ACCOUNT_PAT: ${{ secrets.SVC_ACCOUNT_PAT }}

  quality-checks:
    needs: [check-emails, call-publish-fact-graph]
    if: vars.build == 'false'
    runs-on: ubuntu-latest

    steps:

    - name: Checkout TWE
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        path: ${{ env.TWE_PATH }}

    - name: Checkout Fact Graph
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        repository: IRSDigitalService/${{ env.FACT_GRAPH_PATH }}
        path: ${{ env.FACT_GRAPH_PATH }}
        token: ${{ secrets.SVC_ACCOUNT_PAT }}

    - name: Get latest fact-graph commit SHA
      id: fg_sha
      working-directory: ${{ env.FACT_GRAPH_PATH }}
      run: echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

    - name: Install sbt via shared action
      uses: IRSDigitalService/shared-actions/.github/actions/setup_sbt_coursier@d39382f7b23cb52c0762b5e321f29f2ed66e8189
      with:
        java_version: ${{ env.JAVA_VERSION }}
        sbt_version: ${{ env.SBT_VERSION }}

    - name: Retrieve cached sbt dependencies
      uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 #v4.2.4
      with:
        path: ~/.ivy2/local
        key: ${{ env.FACT_GRAPH_PATH }}-ivy-local-${{ steps.fg_sha.outputs.sha }}

    - name: Retrieve cached fact-graph target directory
      uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 #v4.2.4
      with:
        path: ${{ env.FACT_GRAPH_PATH}}/target
        key: ${{ env.FACT_GRAPH_PATH}}-target-${{ steps.fg_sha.outputs.sha }}

    - name: Run Tests
      working-directory: ${{ env.TWE_PATH }}
      run: make test
