name: TWE Security Scan

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Cancel redundant builds on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # do not cancel redundant builds on main or release branches
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/release/') }}

env:
  JAVA_VERSION: 21
  SBT_VERSION: 1.11.4
  FACT_GRAPH_PATH: fact-graph
  TWE_PATH: tax_withholding_estimator
  TWE_RESOURCES_PATH: src/main/resources/twe

jobs:

  call-publish-fact-graph:
    if: vars.build == 'false'
    uses: ./.github/workflows/publish-factgraph.yml
    secrets:
      SVC_ACCOUNT_PAT: ${{ secrets.SVC_ACCOUNT_PAT }}

  security-scan:
    if: vars.build == 'false'
    runs-on: ubuntu-latest
    needs: call-publish-fact-graph
    steps:

    - name: Checkout Fact Graph
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        repository: IRSDigitalService/${{ env.FACT_GRAPH_PATH }}
        path: ${{ env.FACT_GRAPH_PATH }}
        token: ${{ secrets.SVC_ACCOUNT_PAT }}

    - name: Get latest fact-graph commit SHA
      id: fg_sha
      working-directory: ${{ env.FACT_GRAPH_PATH }}
      run: echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

    - name: Retrieve cached sbt dependencies
      uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf #v4.2.2
      with:
        path: ~/.ivy2/local
        key: ${{ env.FACT_GRAPH_PATH }}-ivy-local-${{ steps.fg_sha.outputs.sha }}

    - name: Retrieve cached fact-graph target directory
      uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf #v4.2.2
      with:
        path: ${{ env.FACT_GRAPH_PATH }}/target
        key: ${{ env.FACT_GRAPH_PATH }}-target-${{ steps.fg_sha.outputs.sha }}

    - name: Install sbt via shared action
      uses: IRSDigitalService/shared-actions/.github/actions/setup_sbt_coursier@d39382f7b23cb52c0762b5e321f29f2ed66e8189
      with:
        java_version: ${{ env.JAVA_VERSION }}
        sbt_version: ${{ env.SBT_VERSION }}

    - name: Checkout TWE
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        path: ${{ env.TWE_PATH }}

    - name: Setup Java
      uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4
      with:
        distribution: 'temurin'
        java-version: ${{ env.JAVA_VERSION }}

    - name: Generate static site for scanning
      working-directory: ${{ env.TWE_PATH }}
      run: make twe

    - name: Install Node (for ESLint and HTML-validate)
      uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 #v5.0.0
      with:
        node-version: '22.11.0'

    - name: Install validators from npm
      working-directory: ${{ env.TWE_PATH }}
      run: make ci_setup

    - name: HTML security validation
      working-directory: ${{ env.TWE_PATH }}
      run: make ci_validate-html

    - name: JavaScript security linting
      working-directory: ${{ env.TWE_PATH }}
      run: make ci_validate-js

    - name: Set up Python 3.12
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c #v6.0.0
      with:
        python-version: '3.12'

    - name: Install pipx 1.7.1
      working-directory: ${{ env.TWE_PATH }}
      run: |
        python -m pip install --upgrade pip
        python -m pip install --user pipx==1.7.1
        python -m pipx ensurepath

    - name: Restore or save pip packages from cache
      uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf #v4.2.2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('.github/requirements.txt') }}

    - name: Install Semgrep (via requirements.txt)
      working-directory: ${{ env.TWE_PATH }}
      run: |
        python -m pip install --upgrade pip
        pip install -r .github/requirements.txt

    - name: Semgrep security-focused static analysis
      working-directory: ${{ env.TWE_PATH }}
      run: |
        make ci_semgrep
