name: TWE

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Cancel redundant builds on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # do not cancel redundant builds on main or release branches
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/release/') }}

env:
  JAVA_VERSION: 21
  TWE_PATH: tax_withholding_estimator
  TWE_RESOURCES_PATH: src/main/resources/twe

jobs:

  check-commit-emails:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout TWE
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          path: ${{ env.TWE_PATH }}

      - name: Check commit emails
        working-directory: ${{ env.TWE_PATH }}
        run: |
          git fetch origin ${{ github.base_ref }}
          echo ${{ github.base_ref }}
          git log origin/${{ github.base_ref }}..HEAD --pretty=format:"%ae%n%ce" | sort -u > emails.txt
          echo "Found email(s):"
          cat emails.txt
          if grep -Evi '(^noreply@github\.com$|@users\.noreply\.github\.com$)' emails.txt | grep -v '^\s*$' > invalid.txt; then
            echo "Invalid email(s):"
            cat invalid.txt
            exit 1
          fi

  build:

    needs: check-commit-emails

    runs-on: ubuntu-latest

    steps:

    - name: Install sbt via Coursier v2.1.24
      run: |
        curl -fL "https://github.com/coursier/coursier/releases/download/v2.1.24/cs-x86_64-pc-linux.gz" | gzip -d > cs
        chmod +x cs
        ./cs --version  # verify that we're using v2.1.24
        ./cs install sbt
        echo "$HOME/.local/share/coursier/bin" >> $GITHUB_PATH

    - name: Checkout TWE
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        path: ${{ env.TWE_PATH }}

    - name: Setup Java
      uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4
      with:
        distribution: 'temurin'
        java-version: ${{ env.JAVA_VERSION }}

    - name: Checkout Fact Graph
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        repository: IRSDigitalService/fact-graph
        path: fact-graph
        token: ${{ secrets.SVC_ACCOUNT_PAT }}

    - name: Compile and publish Fact Graph locally
      working-directory: fact-graph
      run: make ci_publish

    - name: Format Scala code
      working-directory: ${{ env.TWE_PATH }}
      run: make ci_format_check

    - name: Run Tests
      working-directory: ${{ env.TWE_PATH }}
      run: make ci_test

    - name: Download jing for XML schema validation
      working-directory: ${{ env.TWE_PATH }}
      run: |
        cp "$(.././cs fetch --intransitive org.relaxng:jing:20241231)" jing.jar #V20241231
        chmod +x jing.jar

    - name: Validate fact XML files
      working-directory: ${{ env.TWE_PATH }}
      run: |
        for xml in ${{ env.TWE_RESOURCES_PATH }}/facts/*.xml; do
          echo "Processing $xml"
          java -jar jing.jar ${{ env.TWE_RESOURCES_PATH }}/facts/FactDictionaryModule.rng "$xml"
        done

    - name: Validate flow XML files
      working-directory: ${{ env.TWE_PATH }}
      run: |
        for xml in ${{ env.TWE_RESOURCES_PATH }}/flow/*.xml; do
          echo "Processing $xml"
          if [[ "$xml" == "${{ env.TWE_RESOURCES_PATH }}/flow/index.xml" ]]; then
            java -jar jing.jar ${{ env.TWE_RESOURCES_PATH }}/flow/FlowConfig.rng "$xml"
            continue
          fi
          java -jar jing.jar ${{ env.TWE_RESOURCES_PATH }}/flow/FlowConfigModule.rng "$xml"
        done
