name: TWE Quality Checks

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Cancel redundant builds on same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # do not cancel redundant builds on main or release branches
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/release/') }}

env:
  JAVA_VERSION: 21
  FACT_GRAPH_PATH: fact-graph
  TWE_PATH: tax_withholding_estimator
  TWE_RESOURCES_PATH: src/main/resources/twe

jobs:

  check-commit-emails:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout TWE
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          path: ${{ env.TWE_PATH }}

      - name: Check commit emails
        working-directory: ${{ env.TWE_PATH }}
        run: |
          git fetch origin ${{ github.base_ref }}
          echo ${{ github.base_ref }}
          git log origin/${{ github.base_ref }}..HEAD --pretty=format:"%ae%n%ce" | sort -u > emails.txt
          echo "Found email(s):"
          cat emails.txt
          if grep -Evi '(^noreply@github\.com$|@users\.noreply\.github\.com$)' emails.txt | grep -v '^\s*$' > invalid.txt; then
            echo "Invalid email(s):"
            cat invalid.txt
            exit 1
          fi


  call-publish-fact-graph:
    uses: ./.github/workflows/publish-factgraph.yml
    secrets:
      SVC_ACCOUNT_PAT: ${{ secrets.SVC_ACCOUNT_PAT }}

  build:

    needs: [check-commit-emails, call-publish-fact-graph]
    runs-on: ubuntu-latest

    steps:

    - name: Checkout TWE
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        path: ${{ env.TWE_PATH }}

    - name: Checkout Fact Graph
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        repository: IRSDigitalService/${{ env.FACT_GRAPH_PATH }}
        path: ${{ env.FACT_GRAPH_PATH }}
        token: ${{ secrets.SVC_ACCOUNT_PAT }}

    - name: Get latest fact-graph commit SHA
      id: fg_sha
      working-directory: ${{ env.FACT_GRAPH_PATH }}
      run: echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

    - name: Install sbt via Coursier v2.1.24
      run: |
        curl -fL "https://github.com/coursier/coursier/releases/download/v2.1.24/cs-x86_64-pc-linux.gz" | gzip -d > cs
        chmod +x cs
        ./cs --version  # verify that we're using v2.1.24
        ./cs install sbt
        echo "$HOME/.local/share/coursier/bin" >> $GITHUB_PATH

    - name: Setup Java
      uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4
      with:
        distribution: 'temurin'
        java-version: ${{ env.JAVA_VERSION }}

    - name: Retrieve cached sbt dependencies
      uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 #v4.2.4
      with:
        path: ~/.ivy2/local
        key: ${{ env.FACT_GRAPH_PATH }}-ivy-local-${{ steps.fg_sha.outputs.sha }}

    - name: Retrieve cached fact-graph target directory
      uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 #v4.2.4
      with:
        path: ${{ env.FACT_GRAPH_PATH}}/target
        key: ${{ env.FACT_GRAPH_PATH}}-target-${{ steps.fg_sha.outputs.sha }}

    - name: Run Tests
      working-directory: ${{ env.TWE_PATH }}
      run: make ci_test
